<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/nav.css">
</head>
<body>
        <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/category/room">Rooms</a></li>
            <li><a href="/category/shutters">Shutters</a></li>
            <li><a href="/category/apartment">Apartment</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>