nav {
    display: flex;
    min-height: 64px;
    width: 100%;
    max-width: 100vw; /* Ensure navbar doesn't extend beyond viewport width */
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: #2196F3;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    
    display: flex;
    
}

nav ul li {
    margin: 0 12px;
    background-color:#2390ea;
    padding:10px;
    
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav a {
    text-decoration: none;
    color: #121111;
    font-weight: 500;
    padding:10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e1ded7;
}

nav ul li:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    nav {
        padding: 0 ;
    }
    nav ul li {
        margin: 0 ;
        padding:2px;
        font-size: 0.8rem;
    }
}
